<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-8 align-self-center">
        <current-weather [cityName]="cityName"></current-weather>
        <div class="row">
          <div class="col-md-12">
            <weather-forecast [cityName]="cityName"></weather-forecast>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <a [routerLink]="['/cities']">To city list</a>
        </div>
      </div>
    </div>
  </div>
